<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
</head>
<body>
    <div>
        <h1>About</h1>
        <nav>
            <a href="index.html">home</a>
            <a href="about.html">about</a>
            <a href="contact.html">contact</a>
        </nav>
    </div>
    <script>
        fetch("/about").then(function(games){
            games.json().then(function(thegames){
                console.log(thegames);
                for (let game of thegames.game){
                    console.log(game);
                    let gameELement = document.createElement('p');
                    gameELement.innerHTML = game.game;
                    document.body.appendChild(gameELement);

                    //Adds Delete Button
                    let deleteBtn = document.createElement('button');
                    deleteBtn.innerText = "Delete";
                    deleteBtn.addEventListener('click', function deleteGame(){
                        alert('deleting ' + game._id);
                        location.reload();
                        fetch("/deleteGame", {
                            method:"POST",
                            headers:{
                                "Content-Type":"application/json"
                            },
                            body:JSON.stringify({
                                _id:game._id
                            })
                        });
                    });
                    gameELement.appendChild(deleteBtn);
                }
            });

        });

    </script>
</body>
</html>