<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script>
            function checkForm(){
                
                if(document.getElementById("GameTitle").value == ""){
                    event.preventDefault();
                    document.getElementById('err').innerHTML = "You need a game entry";
                }
                
            }
    </script>
</head>
<body>
    <div>
        <h1>Welcome to our node server page.</h1>
        <nav>
            <a href="index.html">home</a>
            <a href="about.html">about</a>
            <a href="contact.html">contact</a>
        </nav>
        <img src="images/bg.jpeg" alt="test image">
    </div>
    <form action="/gamePost" method="POST" onsubmit="return checkForm()">
        <span id="err" style="color:red"></span>
        <br>
        <label for="game">Enter Game Title</label>
        <br>
        <input type="text" name="game" id="GameTitle">
        <br>
        <button type="submit">Submit</button>
    </form>
    

</body>
</html>